body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    overflow-x: hidden;
    width: 100%;
  }
  div, header, aside, p, input, button, a, form, span, ul, li {
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  a {
    text-decoration: none;
  }

  .wrapper {
    height: 72.3vh;
    width: 100%;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    width: 85%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .schedule {
    width: 40%;
    height: 44.5vh;
    display: flex;
    flex-direction:  column;
    align-items: center;
  }

  .title {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }

  .times {
    margin-top: 10px;
    width: 100%;
    height: 15.96vh;
    display: flex;
    gap: 21px;
  }
  .line {
    width: 100%;
    height: 0.30120481927710846vh;
    background-color: white;
    margin-top: 22px;
  }

  .map {
    width: 58%;
    height: 100%;
    background-image: url('./Images/Map.png');
    background-size: cover;
    border-radius: 15px;
  }

  .addressWrapper {
    width: 100%;
    height: 8.132vh;
    display: flex;
    align-items: center;
  }

  .address {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    margin-left: 10px;
    color: #FFFFFF;
  }

  .networks {
    height: 8.1325vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }

  .networkLogo{
    width: 34px;
    height: 34px;
  }

